<div class="container">

  <div class="p-col-12">
    <h1>Atividades Físicas</h1>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="activities" responsiveLayout="stack" [breakpoint]="'768px'">
        <ng-template pTemplate="header">
          <tr>
            <th>Tipo</th>
            <th>Data</th>
            <th>Distância</th>
            <th>Duração</th>
            <th class="col-actions-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-activity>
          <tr>
            <td>
              <span *ngIf="activity.type === 'CORRIDA'">
                <img src="running_icon.png" alt="Corrida">
              </span>
              <span *ngIf="activity.type === 'CAMINHADA'">
                <img src="walking_icon.png" alt="Caminhada">
              </span>
              <span *ngIf="activity.type === 'CICLISMO'">
                <img src="cycling_icon.png" alt="Ciclismo">
              </span>
              <span *ngIf="activity.type === 'NATACAO'">
                <img src="swimming_icon.png" alt="Natação">
              </span>
            </td>
            <td>{{ activity.date }}</td>
            <td>{{ activity.distance | number: '1.1-1'}} km</td>
            <td>{{ activity.duration }} min</td>
            <td class="col-actions">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-12">
      <p><a pButton label="Nova Atividade"></a></p>
    </div>
  </div>
</div>