<div class="container">
  
  <form autocomplete="off" (ngSubmit)="filter()" class="p-grid p-fluid">

    <div class="p-col-12 text-center">
      <h1>Atividades Físicas</h1>
    </div>

    <fieldset class="p-col-12 p-md-12 mb-3">
      <legend><i class="pi pi-filter mr-2"></i>Filtros de Pesquisa</legend>

      <p-select [options]="types" placeholder="Selecione" name="type" [(ngModel)]="type">
      </p-select>

      <div class="mt-2">
        <p-datepicker dateFormat="dd/mm/yy" [style]="{ width: '100%' }" [(ngModel)]="initialDate" name="initialDate"
          placeholder="Data inicial">
        </p-datepicker>
      </div>

      <div class="mt-2">
        <p-datepicker dateFormat="dd/mm/yy" [style]="{ width: '100%' }" [(ngModel)]="finalDate" name="finalDate"
          placeholder="Data final">
        </p-datepicker>
      </div>

      <div class="mt-2">
        <button pButton type="submit" label="Filtrar"></button>
      </div>
    </fieldset>
  </form>


  <div class="p-col-12">
    <p-table [value]="activities" responsiveLayout="stack" [breakpoint]="'768px'">
      <ng-template pTemplate="header">
        <tr>
          <th>Tipo</th>
          <th>Data</th>
          <th>Distância</th>
          <th>Duração</th>
          <th class="col-actions-header"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr>
          <td>
            <span *ngIf="activity.type === 'CORRIDA'">
              <img src="running_icon.png" alt="Corrida">
            </span>
            <span *ngIf="activity.type === 'CAMINHADA'">
              <img src="walking_icon.png" alt="Caminhada">
            </span>
            <span *ngIf="activity.type === 'CICLISMO'">
              <img src="cycling_icon.png" alt="Ciclismo">
            </span>
            <span *ngIf="activity.type === 'NATACAO'">
              <img src="swimming_icon.png" alt="Natação">
            </span>
          </td>
          <td>{{ activity.date }}</td>
          <td>{{ activity.distance | number: '1.1-1'}} km</td>
          <td>{{ activity.duration }} min</td>
          <td class="text-center">
            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
              class="p-button-rounded p-button-text p-button-info mr-1"
              [routerLink]="['/activities', activity.id]"></a>
            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
              class="p-button-rounded p-button-text p-button-danger"
              (click)="confirmRemoval(activity)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td>
            Nenhuma atividade cadastrada.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-col-12">
    <p><a pButton label="Nova Atividade" icon="pi pi-plus" routerLink="/activities/new"></a></p>
  </div>
</div>
